[Unit]
Description=Collect service of raspberry
After=network-online.target

[Service]
User=INSTALL_USER
ExecStart=/usr/bin/python3 /home/INSTALL_USER/.config/station/main_mocked_v01.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
